---
import BaseLayout from "../layouts/BaseLayout.astro";

import manifest from "../manifest.json";

const commands = [];

Object.keys(manifest).forEach(function (item) {
  commands.push({
    title: manifest[item].title,
    excerpt: manifest[item].excerpt,
    slug: item,
  });
});

const siteUrl = import.meta.env.BASE_URL;
---

<BaseLayout title="All - WP CLI">
  <ul>
    {
      commands.map((item) => (
        <li>
          <a href={siteUrl + "/command/" + item.slug}>{item.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
