---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>WP CLI</title>
	</head>
	<body>
		<h1>Hello WP CLI</h1>
	</body>
</html>
