---
const siteUrl = import.meta.env.BASE_URL;

const featuredCommands = [
  "core-download",
  "core-install",
  "theme-install",
  "plugin-list",
  "post-list",
  "option-list",
  "user-create",
];

function shuffleArray(array) {
  let currentIndex = array.length,
    randomIndex;

  // While there remain elements to shuffle.
  while (currentIndex > 0) {
    // Pick a remaining element.
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex--;

    // And swap it with the current element.
    [array[currentIndex], array[randomIndex]] = [
      array[randomIndex],
      array[currentIndex],
    ];
  }

  return array;
}

shuffleArray(featuredCommands);
---

<section class="featured">
  <h3>Frequently Searched Commands</h3>

  <ul>
    {
      featuredCommands.map((item) => (
        <li>
          <a href={siteUrl + "/command/" + item}>{item}</a>
        </li>
      ))
    }
  </ul>
</section><!-- .featured -->

<style lang="scss">
  .featured {
    margin: 40px 0 0 0;

    ul {
      list-style-position: outside;
      margin-left: 15px;

      li {
        a {
          color: #be862d;
          text-decoration: none;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
</style>
