---
import manifest from "../manifest.json";

const { cmd } = Astro.props;

function getFinderKey(cmd) {
  const title = manifest[cmd]["title"];
  const hasChild = manifest[cmd]["has_child"];

  const exploded = title.split(" ");

  if (1 === parseInt(hasChild)) {
    return cmd;
  }

  if (1 === exploded.length) {
    return cmd;
  }

  const lastIndex = title.lastIndexOf(" ");

  const newTitle = title.substring(0, lastIndex);

  return newTitle.replace(" ", "-");
}

const siteUrl = import.meta.env.BASE_URL;

const finderKey = getFinderKey(cmd);

let relatedCommands = Object.keys(manifest).filter(function (item) {
  return item.includes(finderKey) && cmd !== item;
});

relatedCommands = relatedCommands.slice(0, 5);
---

<section class="related">
  <h3>Related Commands</h3>

  <ul>
    {
      relatedCommands.map((item) => (
        <li>
          <a href={siteUrl + "/command/" + item}>{item}</a>
        </li>
      ))
    }
  </ul>
</section><!-- .related -->
