body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #222;
  line-height: 1.4;
}

a {
  color: #be862d;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 12px 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}

b,
strong {
  font-weight: 600;
}

p {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li + li {
  margin-top: 4px;
}

code {
  font-family: "IBM Plex Mono", monospace;
  color: #1e1e1e;
  background-color: #f6f6f6;
  border-radius: 2px;
  display: inline-block;
  padding: 0 3px;
  text-wrap: pretty;
  overflow-wrap: break-word;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1260px;
  padding-inline: 20px;
  margin: 0 auto;
}

/* Command */
.command {
  margin: 0;
}

.command h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  color: #008a20;
  margin-top: 0;
  padding-top: 0;
}

.command .caption {
  margin-top: 20px;
}

.command .caption ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 20px;
  margin-bottom: 20px;
}

.command .synopsis {
  margin: 20px 0;
  background-color: #f6f8fa;
  padding: 16px;
}

.command .synopsis p {
  margin: 0;
}

.command .options {
  outline: none;
}

.command .options dl {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.command .options dt {
  font-weight: 600;
}

.command .options dd {
  margin-left: 40px;
}

.command .options dd div {
  margin: 8px 0 6px 0;
}
.command .options dd div span {
  font-size: 15px;
  font-weight: 600;
}
.command .options dd ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-wrap: wrap;
  row-gap: 5px;
}

@media screen and (min-width: 576px) {
  .command .options dd ul {
    align-items: center;
    gap: 0;
    margin-left: 5px;
  }
}

.command .options dd ul li {
  margin: 0;
  padding: 0;
  margin-right: 5px;
}

@media screen and (min-width: 576px) {
  .command .options dd ul li {
    margin-left: 5px;
    margin-right: 0;
  }
}

.command .options dd ul li:after {
  content: " | ";
}
.command .options dd ul li:last-child:after {
  content: "";
}

.command .available ul {
  margin-bottom: 20px;
}

.command .available p {
  margin-bottom: 10px;
}

.command .available ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 20px;
}

.command .examples .examples-content {
  white-space: pre;
  background-color: #f6f8fa;
  padding: 16px;
  overflow: auto;
  font-family: "IBM Plex Mono", monospace;
  font-size: 15px;
}
