---
import HeaderLayout from "../layouts/HeaderLayout.astro";
import FooterLayout from "../layouts/FooterLayout.astro";
import { ViewTransitions } from "astro:transitions";

import "../css/normalize.css";
import "../css/style.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <link rel="icon" href="data:," />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <HeaderLayout />

    <article>
      <div class="container"><slot /></div>
    </article>

    <FooterLayout />
  </body>
</html>
