---
const homeUrl = import.meta.env.BASE_URL;
---

<header class="site-header">
  <div class="container">
    <h1>
      <a href={homeUrl}
        ><img src=`${import.meta.env.BASE_URL}/logo.png` alt="WP CLI" /></a
      ><span>The command line interface for WordPress</span>
    </h1>
  </div><!-- .container -->
</header>
