---
const homeUrl = import.meta.env.BASE_URL;
---

<header class="site-header">
  <div class="container">
    <h1>
      <a href={homeUrl}
        ><img src=`${import.meta.env.BASE_URL}/logo.png` alt="WP CLI" /></a
      ><span>The command line interface for WordPress</span>
    </h1>
  </div><!-- .container -->
</header>

<style lang="scss">
  .site-header {
    background-color: #23282d;
    padding: 10px 0;
    margin-bottom: 60px;

    img {
      max-width: 80px;
    }

    span {
      margin-left: 20px;
      font-size: 16px;
      font-weight: 400;
      color: #f5f5f5;
      display: none;

      @media screen and (min-width: 768px) {
        display: inline-block;
      }
    }
  }
</style>
