---
import manifest from '../../manifest.json';

export function getStaticPaths() {
  const routes = [];

  Object.keys(manifest).forEach(function (item) {
    routes.push( { params: { command: item } } );
  });

  return routes;
}

const { command } = Astro.params;

---

<h1>{command}</h1>
<p>{manifest[command].excerpt}</p>
{manifest[command].synopsis && <p>{manifest[command].synopsis}</p>}
<div>{manifest[command].description}</div>
