---
import manifest from '../../manifest.json';

export function getStaticPaths() {


  return [
    {params: {command: 'core'}},
    {params: {command: 'plugin'}},
    {params: {command: 'theme'}},
    {params: {command: 'post'}},
  ];
}

const { command } = Astro.params;

---
<h1>{command}</h1>
{JSON.stringify(manifest[command] )}
